
.login-form{
    padding: 2rem 1.3rem;
    margin: 15% auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.4);
    min-height: 60%;
}
.login--heading{
  color: white;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-align: left;
  letter-spacing: .1rem;
  line-height: 150%;
}

.login--input {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  width: 100%;
  background: #FFFFFF;
  outline: none;
}

.login--label {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .06rem;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  color: #eeee;
  text-transform: capitalize;
  
}

.login--button{
  background: #E2810F;
  padding: .8rem 1.5rem;
  align-self: flex-end;
  border: none;
  background: linear-gradient(0deg, #E2810F, #E2810F), #E1C389;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.login--button:hover{
  background: #ffb93adb;
}

@media(min-width: 700px){
  .login-form{
    width: 50%;
    margin: 3rem auto;
  }
}