.cards_container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.exercise_card{
  width: 90%;
  height: 145px;
  background: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1rem auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.exercise-img {
  max-width: 50%;
  height: 100%;
}

.exercise-checkbox{
  position: absolute;
  right: 1%;
  top: 5%;
  height: 1.4rem;
  width: 1.5rem;
}

.exercise-name{
  margin-left: 1rem;
  font-size: 1.2rem;
}

.exercises-heading2{
  color: white;
  font-size: 1.4rem;
  margin-top: 1rem;
  letter-spacing: .09rem;
  padding: 1rem;
}

.exercise-add{
  padding: .8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
  background: #E2810F;
  font-weight: bold;
}

.error{
  color: red;
  font-size: 1.2rem;
}

.clicked-date{
   height: 50px;
   background: linear-gradient(0deg, #5AA9D6, #5AA9D6),
   #0077BA;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24),
   0px 0px 8px rgba(0, 0, 0, 0.12);
   border-radius: 2px;
   display: flex;
   align-items: center;
   padding-left: 1rem;
   margin-top: 2rem;
   font-size: 1.2rem;
}

.fa-check-circle{
  position: absolute;
  right: 1%;
  top: 5%;
  height: 1.4rem;
  width: 1.5rem !important;
  color: green;
}

.exercises-warning{
  color: #eeee;
  font-size: 1rem;
  letter-spacing: .06rem;
  line-height: 130%;
  padding-left: 1rem;
}

.button-container{
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;

}

@media (min-width: 800px){
  .cards_container{
    width: 50%;
    margin: 0 auto;
  }
  .exercises-heading2{
    text-align: center;
  }
}