.welcome--container{
  margin-top: 4rem;
  padding-left: 1rem;
  color: white;
}

.welcome--heading{
     margin-bottom: 1rem;
     color: #E2810F;
     font-size: 1.3rem;
     letter-spacing: .04rem;
}

.welcome--content{
  line-height: 150%;
  letter-spacing: .03rem;
  font-size: 1.1rem;
}

.add--icon{
  margin-top: 1rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24),
  0px 0px 8px rgba(0, 0, 0, 0.12);
  width: 50px !important;
  height: 50px;
  color: #E2810F;
  background:white;
  border-radius: 52%;
  border-color: #E2810F;
  float: right;
  margin: 2rem 2rem 0 0;
}

